.header__link {
  color: #2f80ed;
  text-decoration: none;
  -webkit-transition: .3s ease-out;
  -o-transition: .3s ease-out;
  transition: opacity .3s ease-out;
}

.header__link:hover {
  opacity: .7;
}